body{
    background-image: -webkit-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                    -webkit-linear-gradient(#eee .05em, transparent .05em);
    background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                    -moz-linear-gradient(#eee .05em, transparent .05em);
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                    linear-gradient(#eee .05em, transparent .05em);
    background: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px) 0 0 / 100% 1.2em,
                    linear-gradient(#eee .05em, transparent .05em) 0 0 / 100% 1.2em #fff;
    behavior: url(/pie/PIE.htc);
    margin: 0;
}

.todo-input{
    position: fixed;
    left: 120px;
    top: 11px;
}

.first-div{
    background-color: aliceblue;
    width: 320px;
}

h1{
    font-size: 4rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
}

.importance-input{
    width: 24px;
    border-radius: 18px;
    font-weight: bold;
    margin: 0 3px;
}

.sort, .sort option{
    border-radius: 6px;
    font-weight: bold;
}

.sort-by{
    color: black;
    font-size: 1.2rem;
    margin: 3px;
    font-weight: bold;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    margin: 2px;
}

h3 span{
    font-size: 1rem;
    margin-left: 0;
    font-weight: bold;
    font-size: 0.9rem;
}
.btn-down{
    margin-right: -4px;
}
.btn-up{
    margin-left: 0;
}
button{
    background-color: black;
    color: white;
    border: darkblue;
    border-radius: 5px;
    font-weight: bold;
    margin: 2px;
    opacity: 0.8;
    padding: 1px 5px;;
}
button:hover{
    opacity: 1;
    transition: 1s;
}

.done {
    text-decoration: line-through;
}

.filter-container {
    padding: 2px;
}

.message{
    font-size: 1.1rem;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.todo-list{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    font-weight: bold;
}
.stats-container {
    background-color: aliceblue;
    width: 255px;
    border-radius: 10px;
}

.stats-container span{
    font-size: 1.5rem;
    color: darkblue;
}

.filter-choice{
    cursor: pointer;
}