h1{
    font-size: 4rem;
}

.first-div{
    margin-left: 50px;
}

button{
    padding: 6px;
}

.sort-by{
    font-size: 1.5rem;
    margin: 3px;
}

.filter-container {
    padding: 5px;
}

.message{
    font-size: 1.5rem;
    margin-left: 90px;
}

.todo-list, .message{
    font-size: 1.2rem;
    margin-left: 83px;
}

.stats-container {
    margin-left: 50px;
}